.boards__table{
    tr:hover{
        cursor: pointer;
    }
}

.boards__linebox {
    a{
        margin: 0 8px;
    }
}

.description .image{
     float: left;
     margin: 0 10px 10px 0;
}
table td{
    padding: 3px 10px;
}

.comment {
    clear: left;
}